html {
  background: url(../img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
    background: rgba(0, 0, 0, 0.5);
    height: 7.3em;
    width: 100%;
    position: absolute;
    bottom: 2.5em;
    font-family: 'Nunito', sans-serif;
}

h1, li {
    color: white;
    opacity: 1.0;
    display: inline-block;
    margin-right: 1em;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 3.6em;
}

li {
    font-size: 1.0em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
