{% extends "layout.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}
{% block body %}
<header>
    <nav>
        <ul>
            <h1><a href="#">Will Choi</a></h1>
            <li><a href="#">Photo</a></li>
            <li><a href="#">Photo a day series</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Art</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
