{% extends "layout.html" %}
{% set active_page = "photo-a-day-series" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/photo-a-day-series.css') }}">
{% endblock %}
{% block body %}
<main>
  <section class="colophon">
    <p>
      In 2012, I embarked on a photographic journey<br>
      that changed the way I look at the world.<br>
      Welcome to my photo a day project.
    </p>
    <p>All photos taken on iPhone 4/5s</p>
  </section>
  <div class="clearfix years">
    <section class="left">
      <img src="{{ images[0] }}"></img>
      <h2>Year One</h2>
      <p>Feb 29, 2012 - Feb 28, 2013</p>
    </section>
    <section class="left">
      <img src="{{ images[1] }}"></img>
      <h2>Year Two</h2>
      <p>Mar 1, 2013 - Feb 28, 2014</p>
    </section>
    <section class="left">
      <img src="{{ images[2] }}"></img>
      <h2>Year Three</h2>
      <p>Mar 1, 2014 - Feb 28, 2015</p>
    </section>
  </div>
</main>
{% endblock %}